[package]
name = "jieba-rs"
version = "0.4.1"
authors = ["messense <messense@icloud.com>"]
categories = ["text-processing"]
description = "The Jieba Chinese Word Segmentation Implemented in Rust"
keywords = ["nlp", "chinese", "segmenation"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/messense/jieba-rs"
edition = '2018'

[dev-dependencies]
criterion = "0.2"
rand = "0.6"

[[bench]]
name = "jieba_benchmark"
harness = false

[dependencies]
smallvec = "0.6"
regex = "1.0"
lazy_static = "1.0"
phf = "0.7"
hashbrown = "0.5.0"

[build-dependencies]
phf_codegen = "0.7"

[features]
default = []
tfidf = []
textrank = []

[package.metadata.docs.rs]
all-features = true
