[package]
name = "jieba-rs"
version = "0.4.8"
authors = ["messense <messense@icloud.com>", "Paul Meng <me@paulme.ng>"]
categories = ["text-processing"]
description = "The Jieba Chinese Word Segmentation Implemented in Rust"
keywords = ["nlp", "chinese", "segmenation"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/messense/jieba-rs"
edition = '2018'

[package.metadata.docs.rs]
all-features = true

[dev-dependencies]
criterion = "0.2"
rand = "0.7"
jemallocator = "0.3.2"

[[bench]]
name = "jieba_benchmark"
harness = false
required-features = ["tfidf", "textrank"]

[dependencies]
smallvec = "0.6"
regex = "1.0"
lazy_static = "1.0"
phf = "0.7"
hashbrown = "0.5.0"

[build-dependencies]
phf_codegen = "0.7"

[features]
default = ["default-dict"]
default-dict = []
tfidf = []
textrank = []

[workspace]
members = [
    ".",
    "capi",
    "examples/weicheng"
]
